

.links_about {
    background: none;      
    border: none;          
    color:  rgba(22, 24, 35, 0.5);       
    font-size: 1.25rem; 
    font-weight:bold;   
    cursor: pointer;       
    text-align: left;  
    padding: 0px;    
}
.about_navbar {
    font-family:Arial, Tahoma, sans-serif;
    color:  rgba(25, 34, 168, 0.5);
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.copy_Right {
    color:  rgba(22, 24, 35, 0.5);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;

}
p {
    margin-top: 7px;
    font-size: 14px;
}
